# fastapi
# uvicorn
# pydantic
# python-multipart
# requests
# PyMuPDF
# python-docx
# numpy
# sentence-transformers
# faiss-cpu
# groq
# psycopg2-binary
# python-magic
# python-dotenv

fastapi==0.95.2
uvicorn[standard]==0.22.0
pydantic==1.10.12
python-multipart==0.0.6
requests==2.31.0
PyMuPDF==1.21.1
python-docx==0.8.11
numpy==1.26.4
sentence-transformers==2.2.2
faiss-cpu==1.7.4
groq==0.13.1
psycopg2-binary==2.9.6
python-magic
python-dotenv==1.0.0



